.Information{
    color: rgb(40, 63, 176);
    text-align: left;
    font-size: 30px;
    font-family: 'Roboto Flex', sans-serif;
}

body{
    background-color: #f2f2f2;
    font-size: 30px;
    color: black;
    font-family: 'Roboto Flex', sans-serif;
}

.Statistics{
    align-items: center;
    align-content: center;
    font-size: 30px;
    font-family: 'Roboto Flex', sans-serif;
}